<div class="clearfix mt25">
 			<div class="pull-left">
 				<h3> Global Features</h3>
 			</div>
 			<div class="pull-right mt10">
 				<button type="button" class="  btn btn-green " disabled="disabled">Audit Log <i class="fa fa-angle-right fa-2" aria-hidden="true"></i></button>
			</div>
		</div>
 
 		<section class="clearfix mt25">
 			<div class="row">
 				<div class="col-md-3">
 					<div class="shadow-box">
 						<ul class="left-menu"> 
 														<li><a href="#" ng-click="show('View All','showAllInx')"  ng-class="{active:viewAll}">View All <i ng-if="viewAll" class="fa fa-caret-right pull-right fa-3" aria-hidden="true"></i></a></li>
          <!-- <li><a href="#" ng-click="show('View All')">View All</a></li> -->
          <li ng-repeat="data1 in myData | unique : 'categoryName' | orderBy:'featureCategory.categoryName' "><a ng-click="show(data1,$index)" ng-class="{active:$index == selected}">{{data1.featureCategory.categoryName}}<i class="fa fa-caret-right pull-right fa-3" ng-if="$index == selected" aria-hidden="true"></i></a></li>

 							
						</ul>
 					</div>
 				</div>
 				<div class="col-md-9">
 					<div class="shadow-box right-container">
 						<div class="right-header">
							<h3>{{showItems}}</h3>
 						</div>
 						<div class="right-content-wrap" ng-repeat="data2 in myData | unique : 'categoryName'| orderBy:'featureCategory.categoryName' | myFilter: showItems track by $index">
 						
 						  <p class = "viewallheader" ng-show = "viewAll">{{showItems = data2.featureCategory.categoryName}}</p>
 						<p>{{data2.featureCategory.categoryDescription}}<p/>
 						
 							<div class="table-section">
 								<table class="table CareManagement-table">
 									<tr>
 										<th class = "width-fix">Toggle </th>
 										<th class = "width-fix">Feature</th>
 										<th class = "width-fix">Description</th>
 										<th class = "width-fix">Status </th>
 									</tr>			
 									
 										
										
									<!-- ng-repeat row -->
									 <tr ng-repeat="feature in myData | myFilter: showItems ">
										<td class = "width-fix">
											<div class="loading"  ng-show="loading && $index==inx1 && showItems == showingitems"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20" />Saving...</div>
											<div class="checkbox" ng-hide="loading && $index==inx1 && showItems == showingitems" ng-click="feature.enabled = !feature.enabled">
												<label   ng-click="change(feature,$index,showItems)">

											<div ng-class="test(feature.enabled)" style="width: 72.9375px; height: 36px;">
											  <input type="checkbox"  ng-model="feature.enabled" data-toggle="toggle" ng-changed="showMessage">
											  <div class="toggle-group">
											  
												<label class="btn btn-primary toggle-on">On</label>
												<label class="btn btn-default active toggle-off" >Off</label>
												
												<span
												  class="toggle-handle btn btn-default"></span>
												</div>
										</div>
							</label>
							<div ng-if="msgtimeout && $index==showMessage && showItems == showingitems" class="popover fade success bottom in" role="tooltip" id="popover529523" style="top: 36px; left: -357.5px; display: block;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content"><div class="row"> <div class="col-md-1"> <i class="fa fa-check-circle fa-3" aria-hidden="true"></i>
																			</div> <div class="col-md-6"><p> Your requested feature change was successfully saved. It will be visible in few minutes.</p> <div class="form-group "></div></div></div></div></div>
						</div>
						</td>
						<td class= "width-fix">
								<p data-toggle="popover" id="error-popover" data-content='<div class="row"> <div class="col-md-1"> <i class="fa fa-warning fa-2" aria-hidden="true"></i>
								</div> <div class="col-md-10"><p>  Unable to save the healthy HOA </p> <div class="form-group ">
								<button type="submit" class="btn btn-default"> <i class="fa fa-plus" aria-hidden="true"></i> View more</button>
								<button type="submit" class="btn btn-default ">Close</button></div></div></div>' data-placement="bottom" data-class="error">
									{{feature.name}} </p>
						</td>
						<td class="table_Des width-fix">{{feature.description}}</td>
								<td class="pos-relative width-fix"> <span class="status">{{feature.status}}</span><button id="example"  ng-click="setStatus(feature)" data-placement="bottom" status-popover

							<i class="fa fa-pencil pull-right btn btn-pencil btn-green " aria-hidden="true"></i>
							</button>
						</td>
						</tr>
						<tr class="border_bottom"></tr>
						</table>
				

					</div>
				</div>
			</div>
	</div>
	</div>

	</section>
	<script type="text/ng-template" class="popover-content">
		<div >
            <form ng-submit="saveStatus()">
	        <h3> Status-Edit</h2>

            <div class="form-group">
                <input type="radio" name="status"  value="Scheduled offline" id="inlineradio1"  ng-model="statusOptions.status"  ng-disabled="statusOptions.status == 'N/A'"/>
                <label class="radio-inline p0" for="inlineradio1">Scheduled offline</label>

                <input type="radio" name="status" value="Temporary offline"  id="inlineradio2"  ng-model="statusOptions.status"  ng-disabled="statusOptions.status == 'N/A'"/>
                <label class="radio-inline" for="inlineradio2">Temporary offline</label>

                <input type="radio" name="status" value="Online" id="inlineradio3"  ng-model="statusOptions.status"  ng-disabled="statusOptions.status == 'N/A'"/>
                <label class="radio-inline" for="inlineradio3">Online</label>
                                            
                <input type="radio" name="status" value="N/A" id="inlineradio4" ng-model="statusOptions.status" ng-disabled="statusOptions.status != 'N/A'"/>
                <label class="radio-inline" for="inlineradio4">N/A</label>
           </div>
		<div class="form-group row clearfix" ng-if="statusOptions.status == 'Scheduled offline'">

<div class=""> <div class="date col-sm-4 pull-left start-date input-group " ng-model="startTime"  date-picker>                                           
<div class="col-sm-10 pl0 pull-left">
    <label for="date">Start date</label>
                                        
	<input type="text" class="form-control start-input" name="date"  >  
	</div>
	<span class="input-group-addon mt30 p0 pull-left col-sm-1">
        <i class="fa fa-calendar fa-3"></i>
    </span>
 </div>
</div>
 <div class="date  col-sm-4 end-date input-group pull-left"  ng-model="endTime" date-picker >                                           
<div class="col-sm-10 pl0">
    <label for="date">End date</label>
                                        
	<input type="text" class="form-control end-input" name="date">  
	</div>
	<span class="input-group-addon mt30 p0 pull-left">
        <i class="fa fa-calendar fa-3"></i>
    </span>
                                            </div>


  </div>

  
  <br>
<div class="form-group">
<div class="Message" ng-if="statusOptions.status=='Temporary offline'">
  <label>
   MESSAGE
  </label>
   <br>
   <br>
      <p>We are currently offline due to unplanned maintenance.</p>
</div>
<div class="Message" ng-if="statusOptions.status=='Scheduled offline'">
  <label>
   MESSAGE
  </label>
   <br>
   <br>
      <p>We are scheduled for maintenance from <span>{{startMessage}}</span> to <span>{{endMessage}}<span>.</p>
</div>
<br>

<div class="form-group ">
	<button type="submit" class="btn btn-default btn-green">Save</button>
	<button type="button" class="btn btn-default btn-green " id="my modal" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
  </div>
                                                                                                  
</div>

  </form>  
  
</div>
	</script>
