

		<div class="clearfix mt25">

			<div class="form-group ">
				<h3 class="selTitle"> Search Plan Sponsors</h3>
                <div class="radiobuttons">
                <input type="radio" name="status" value="option1"  id="inlineradio1"     />
                <label class="radio-inline checkboxTitle " for="inlineradio1">All</label>

                <input type="radio" name="status" value="option2"  id="inlineradio2" />
                <label class="radio-inline checkboxTitle" for="inlineradio2">Name</label>

                <input type="radio" name="status" value="option3" id="inlineradio3" />
                <label class="radio-inline checkboxTitle" for="inlineradio3">PSUID</label>

                <input type="radio" name="status" value="option4" checked="" id="inlineradio4" />
                <label class="radio-inline active checkboxTitle" for="inlineradio4">Control No</label>
                </div>
		</div>
            <div class="container pull-left ">
				<div class="form-inline">

					<div class="inner-addon right-addon">
						<i class="fa fa-times fa-2x"></i>
						<input type="text" class="form-control " placeholder="Search" />
						<button type="submit" class="btn btn-primary searchButton">Search</button>
					</div>


					<!--<input type="form-control  " ng-model="searchAll" />-->
					<!--<span class="fa fa-times"></span>-->
					<!--<a class="clear" ng-click="searchAll = null">-->
						<!--<span class="fa fa-times"></span>-->
					<!--</a>-->
				</div>
            </div>
        </div>
	</div>

	<br>


	<div class="jumbotron SearchResults">
		<a class="resultHead">Search Results for</a>
		<a class="selectedSearch label label-default">A43201</a>




    <div class="table-section table-responsive">
      <table class="table CareManagement-table">
         <thead>
        <tr class="spaceUnder">
          <th class="tabHead psuid">PSUID <span class="fa fa-sort"></span></th>
          <th class="tabHead">PS Name</th>
          <th class="tabHead">Control Number</th>

        </tr>
         </thead>


      <tbody class="tableSepeator">
          <tr>
            <td>12345</td>
            <td>AETNA</td>
            <td style="position:relative;"><ul class="listStyle " ng-class="{'listfullview': expand}"><li class="controlNumbers"><span>12345,12345,12345,12345,12345,12345,12345,12345,12345,12345</span></li>
            <li class="controlNumbers"><span>12345,12345,12345,12345,12345,12345,12345,12345,12345,12345</span></li>
          <li class="controlNumbers"><span>12345,12345,12345,12345,12345,12345,12345,12345,12345,12345</span></li>
        <li class="controlNumbers"><span>12345,12345,12345,12345,12345,12345,12345,12345,12345,12345</span></li>
      <li class="controlNumbers"><span>12345,12345,12345,12345,12345,12345,12345,12345,12345,12345</span></li>
</ul><image ng-click="expand = !expand" class="lessArrow" ng-src="{{expand && './icons/LessArrow.png' || './icons/MoreArrow.png'}}" />
<image  class="rightDirectIcon"src="./icons/right-arrow.png">
    </td>
          </tr>
      </tbody>
        </table>
      </div>


  </div>

		<!-- <div class="container">
			<div class="purple-label">
				<span class="psuid ">PSUID</span>
				<span class="fa fa-sort"></span>
				<span class="psname">Name</span>
				<span class="controlnumber">Control Number</span>
			</div>
		</div> -->




<script>
	$scope.clearSearch = function() {
		$scope.searchAll = null;
	}
</script>
