<div class="planSummary" >
	<div style="margin-left:15px;margin-top: 10px;margin-bottom: 10px;">
	<a class="searchtext" href="javascript:void(0)" ng-click="stateChange()">Search</a> <img src="../images/chevron_-_grey.png"/><span class="plansponsortext">Plan Sponsor</span></div>
	<div class="row" ng-hide = "hideTable">
		<div class="row row1">
	        <div class="clearfix mt25">
	            <h3 class="planSummaryHeader">{{psName}} - {{psuId}}</h3>
	            
	        </div>
	        <div class="mt10">
	            <plan-summary-details></plan-summary-details>
	        </div>
	    </div>
	    <div class="legenddiv">
			<ul class="legendlist">
				
				<!--  <li><img src="../images/copy_lineicon.svg"/><span>Copy Toggle Settings</span></li>
				<li><img src="../images/online_icon.png"/><span>Online</span></li>
				<li><img src="../images/scheduledoffline_icon.png"/><span>Scheduled Offline</span></li>
				<li><img src="../images/temporaryoffline.png"/><span>Temporarily Offline</span></li>
				-->
				<li><img src="../images/legend_infoicon_copy_6.png"/><span>More Information</span></li>
			</ul>
		</div>
		<!--                     <li><a href="#" ng-click="show('View All','showAllInx')"  ng-class="{active1:viewAll}">View All <span ng-class="{{(viewAll) ? activebadge1 : badge1}}">({{viewAllCount}})</span><i ng-if="viewAll" class="fa fa-caret-right pull-right fa-3" aria-hidden="true"/></a></li>
		 -->
	    <section class="clearfix mt30 categorySection">
        <div class="col-md-2 categorymenu">
            <div class="shadow-box">
                <summary-category-list></summary-category-list>
            </div>
        </div>
        <div class="col-md-10 categorytable">
        	<div class="right-container" style="padding: 0px;background-color: transparent;margin-left: 5px;">  
        		<summary-feature-details></summary-feature-details>
        	</div>
        </div>
    </section>
  
	</div>
</div>
  <!-- DIV ERROR 1 -->


<!-- DIV ERROR 3-->
<div class="jumbotron SearchResults" ng-show = "systemDown">
	<div class="errordiv">
		<div class="panel-panel-default errorplans systemdown">
			<image class="icondesign systemdownicon" src="../themes/css2/icons/systemdown_icon.png"  aria-hidden="true"></image>
			<p class="textcontrol ">We are Sorry! <br><span>A system exception has occurred and prevented your request from being processed. Please contact the support service, if the problem persists.</span>  </p>
		</div>
	</div>
</div>
<!-- DIV ERROR 3-->
<div class="jumbotron SearchResults" ng-show = "serviceTimeout">
	<div class="errordiv">
		<div class="panel-panel-default errorplans">
			<image class="icondesign serviceicon" src="../themes/css2/icons/systemdown_icon.png"  aria-hidden="true"></image>
			<p class="textcontrol servicetext">Service Timed out.Please relogin and search </p>
		</div>
	</div>
</div>


<!-- DIV ERROR 4-->	
<div class="jumbotron SearchResults p0" ng-show = "psumryError">
	<div class="errordiv">
		<div class="panel-panel-default errorplans">
			<image class="icondesignSummary" src="../themes/css2/icons/systemdown_icon.png"  aria-hidden="true"></image>
			<p class="textcontrol textsummary">{{psErrorData}}</p>
		</div>
	</div>
</div>
