

/*PlanSponsor CSS*/


.plansponsorfont {
font-family: OpenSans !important;
}
}



.checkboxTitle{
font-family: OpenSans !important;
}

.radioplan {
  width: 20.7px !important;
  height: 20px !important;
  border-radius: 100px !important;
  border: solid 3px #b18cc1 !important;
}

.plansponsor .form-control+.fa-times {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.plansponsor .form-control {
  width: 1007px !important;
  margin-left: -16px;
  height: 50px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style fa-times */

.inner-addon .fa-times {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-top: -1px;
}


/* align fa-times */

.right-addon .fa-times {
  right: 151px;
  color: #c6c6c6;
}


/* add padding  */

.right-addon input {
  padding-right: 30px;
}

.searchButton {
  width: 104px;
  height: 50px;
  border-radius: 5px;
  background-color: #00a78e;
  margin-left: 20px;
}


.SearchResults {
  background-color: #eef2f4;
  padding-left:0px !important;
  padding-right:0px !important;
}

.searchtext {
  width: 396px;
  height: 24px;
  font-family: OpenSans;
  font-size: 17px;
  text-align: left;
  color: #414141;
}

.selectedSearch {
  border-radius: 5px;
  background-color: #7d3f98;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
      letter-spacing: 1px;
      font-family:'open_sanslight';
}


/**/

.selTitle {
  font-size: 30px;
  text-align: left;
  color: #414141;
  padding-top: 31px;
  padding-bottom: 31px;
  border-bottom: solid 1px #dcdcdc;
}

.checkboxTitle {
  font-size: 18px;
  color: #414141;
  opacity: 0.6;
}

.listStyle {
  list-style: none;
  max-height: 82px;
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  font-family: OpenSans;
  font-size: 18px;
}

.listfullview {
  max-height: 100%;
}

.controlNumbers {
  font-size: 18px;
  font-family: OpenSans;
  padding: 6px;
  display:block;
    width:100%;
    word-wrap:break-word;
     color: #414141;
    
}


/*.listStyle:after{

  content:url('http://placehold.it/16x16');
}*/

.rightDirectIcon{
  position: absolute;
    right: -2px;
    bottom: 52px;
    height: 40px;
}

.rightIcon {
  position: absolute;
  bottom: 50px;
    left: 0px;
    height: 41px;
}

.iconRow {
  position: relative;
}

.lessArrow {
  position: absolute;
    bottom: 48px;
    right: 229px;
}

.resultHead {
  font-size: 18px;
  color: #414141;
  font-family: 'open_sanslight';
  font-weight: 600;
}

.Searchbarplace{
background-color:#fff;
}

.psuidata {
  font-family: 'open_sanslight';
  color: #414141;
  font-size: 18px;
}

.psnamedata{
  font-family: 'open_sanslight';
  color: #414141;
  font-size: 18px;
}

.table-responsive{
overflow-x: visible !important;
}

.checkboxTitlecontrol{
  font-size: 18px;
  color: black;
}

