

/*PlanSponsor CSS*/


.v-align{
vertical-align:top!important;s
}

.plansponsorfont {
 font-family: open_sansregular !important;
}




.checkboxTitle{
font-family: Open Sans !important;
}

.radioplan {
  width: 20.7px !important;
  height: 20px !important;
  border-radius: 100px !important;
  border: solid 3px #b18cc1 !important;
}

.plansponsor .form-control+.fa-times {
  position: absolute;
  right: 0;
  padding: 8px 27px;
}

.plansponsor .form-control {
  width: 1007px !important;
  margin-left: -16px;
  height: 50px;
}


/* enable absolute positioning */

.inner-addon {
  position: relative;
}


/* style fa-times */

.inner-addon .fa-times {
  position: absolute;
     width: 50px;
    height: 50px;
    padding: 8px 5px;
}


/* align fa-times */

.right-addon .fa-times {
  right: 151px;
  color: #c6c6c6;
}


/* add padding  */

.right-addon input {
  padding-right: 30px;
}

.searchButton {
  width: 104px;
  height: 50px;
  border-radius: 5px;
  background-color: #00a78e;
  margin-left: 20px;
}


.SearchResults {
  background-color: #eef2f4;
  padding-left:0px !important;
  padding-right:0px !important;
}

.searchtext {
  width: 396px;
  height: 24px;
  font-family: open_sansregular !important;
  font-size: 17px;
  text-align: left;
  color: #414141;
}

.selectedSearch {
  border-radius: 5px;
  background-color: #7d3f98;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
      letter-spacing: 1px;
      font-family:open_sansregular !important;
}


/**/

.selTitle {
 font-family: open_sansregular !important;
  font-size: 24px;
  text-align: left;
  color: #414141;
  padding-top: 0px;
  padding-bottom: 31px;
  border-bottom: solid 1px #dcdcdc;
}

.checkboxTitle {
  font-size: 18px;
  color: #414141;
  opacity: 0.6;
}

.listStyle {
  list-style: none;
  max-height: 82px;
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  font-family: open_sansregular !important;
  font-size: 18px;
}

.listfullview {
  max-height: 100%;
}

.controlNumbers {
  font-size: 18px;
  font-family: open_sansregular !important;
  padding: 6px;
  display:block;
    width:100%;
    word-wrap:break-word;
     color: #414141;
    
}


/*.listStyle:after{

  content:url('http://placehold.it/16x16');
}*/

.rightDirectIcon{
  position: absolute;
    right: -2px;
    bottom: 52px;
    height: 40px;
}

.rightIcon {
  position: absolute;
  bottom: 50px;
    left: 0px;
    height: 41px;
}

.iconRow {
  position: relative;
}

.lessArrow {
  position: absolute;
    bottom: 28px;
    right: 38px;
}

.resultHead {
  font-size: 18px;
  color: #414141;
  font-family: open_sansregular !important;
  font-weight: 600;
}

.Searchbarplace{
background-color:#fff;
}
.Searchbarplace td a,.Searchbarplace td a:hover,.Searchbarplace td a:focus,.Searchbarplace td a:active{
	color:#414141;
	cursor:pointer;
}
.psuidata {
  font-family: open_sansregular !important;
  color: #414141;
  font-size: 18px;
	width:10%;
}

.psnamedata{
  font-family: open_sansregular !important;
  color: #414141;
  font-size: 18px;
	width:16%;
}

.psdatacolor{
color:#7d3f98 !important;
}

.table-responsive{
overflow-x: visible !important;
}

.checkboxTitlecontrol{
  font-size: 18px;
  color: black;
}
.errordiv{
    height: 100px;
}
.errorplans{
	height: 62px;
    width: 1136px;
    margin-left: -2px;
    margin-top: 19px;
    background-color: #fff0f7;
    border: 1px solid #d20962;
    border-radius: 10px;
}

.errorexceptions{
	height: 80px;
   
    margin: 0 30px;
    margin-top: 19px;
    background-color: #fff0f7;
    border: 1px solid #d20962;
    border-radius: 10px;
}
.errorexceptions .icondesign{
	margin-top:25px;
}
.exceptiondiv{
    height: 120px;
    width: 1140px;
    margin: auto;
}
.textcontrol{
	font-family: open_sansregular !important;
	font-size: 16px !important;
	color: #d20962;
	font-weight:500 !important;
    padding-top: 8px;
    padding-left: 83px;
}

.icondesign{
	    color: #d20962;
    float: left;
    margin-left: 18px;
    margin-top: 8px;
}
    }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=text]::-ms-clear {

display:none;
}

.error-heading{
	 background: #fff;
	 padding-top: 3px;
}
.error-heading div{
	box-shadow: 0 1px 10px 0px #d2d2d2;
}
.error-heading h4{
	width: 1170px;
    margin: auto;
    padding: 25px 15px;
}
.errorexceptions .textcontrol span{
	font-weight:normal !important;
}
.CareManagement-table .Searchbarplace td{
	vertical-align:top !important
}
.CareManagement-table .Searchbarplace .pscntrlnumber{
	width:65%;
	
}
.ctrlNumbers{
	width:90%;
}
.ctrlNumbers span{
	padding:5px 8px;
	font-size: 18px;
	display:inline-block;
	user-select:all;
	-webkit-user-select: all;
}
.ctrlNumbers .hlight-cnum{
	background-color: #7d3f98;
	color:#fff; 
	font-weight: 600;
	border-radius:4px;
}

.min-data {
  max-height: 70px;
overflow: hidden;
}

.errorborder{
border-color: #F21000
}

.psname.psnamedata{
min-width:350px;

}

.searchclose{
    top: 14px;
    position: absolute;
    left: 955px;
}

.validationimage{
margin-top: -2px;
    margin-right: 6px;
}

.error-msg{

    margin-left:-12px
}
.modal-backdrop.fade.in{
	height:100%;
}



.progress-bar{
background-color:#7d3f98!important;
}



